!!!
head
  link(rel="stylesheet", type="text/css", href="/css/index.css")
  script(src="/js/jquery-1.9.1.min.js")
  script(src="/js/index.js")
body
  include includes/header

  #in_survey    
    h3.name #{survey.name}
    #survey_errors
    form#survey_form(method="POST", action="/survey/#{survey._id}")
      each s,i in survey.surveys
        .survey
          h3.question #{s.question}
          .questions
            if s.type === "list_radio" || s.type === "yes_or_no"
              each opt, j in s.options
                .option
                  input(type="radio", name="answer_#{i}", value=j)
                  label(for="answer_#{i}")
                    span #{opt}
      button#view_result Results
      input#submit(type="submit", value="Submit")